/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.11.2018, 16:58:28
    Author     : jvm
*/
h1{
    color:red;
}
.invalid{
    border: 1px solid #f60;
}
.colorBack{margin-left: 100px;
    background-color: azure;
    
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="text"] {
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff !important; 
   outline: none; 
   height: 24px; 
   width: 240px; 
   color: #cccccc; 
   font-size: 18px; 
   font-family: Tahoma; 
   margin-left: 105px;
   padding-left: 40px;
}